{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Title
            </th>
            <th>
                Due date
            </th>
            <th>
                Created at
            </th>
            <th>
                Category
            </th>
            <th>
                Tags
            </th>
        </tr>
    {% for task in tasks %}
        <tr>
            <td class="col-xs-2">
                {{ task.label }}
            </td>
            <td class="col-xs-2">
                {{ task.dueDate|date("d-m-Y H:i") }}
            </td>
            <td class="col-xs-2">
                {{ task.createdAt|date("d-m-Y H:i") }}
            </td>
            <td class="col-xs-2">
                {% if task.category is not null %}
                    <a class="label label-default" href="{{ path('list_task_category', {id: task.category.id}) }}" style="background-color: {{ task.category.color }}; color: white">{{ task.category.name }}</a>
                {% endif %}
            </td>
            <td>
                {% for tag in task.tag %}
                <a href="{{ path('list_task_tag', {tag: tag.id}) }}"><span class="glyphicon glyphicon-tag"></span> {{ tag.title }}</a>
                {% endfor %}
            </td>
        </tr>
    {% else %}
        <tr><td>{% trans %}task.empty_list{% endtrans %}</td></tr>
    {% endfor %}
    </table>
{% endblock %}